#recipes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-panel {
    width: 50%;
}

.p-panel-header{
    font-size: large;
    color: black;
}

.recipe-share-row {
    display: flex;
    justify-content: right;
    background-color: whitesmoke;
    padding: 0.5rem;
}
.p-button {
    margin-left: 10px;
}

#recipes-list-header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}