#recipes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-panel {
    width: 75%;
}

.recipe-share-row {
    display: flex;
    justify-content: right;
    background-color: whitesmoke;
    padding: 0.5rem;
}

#recipes-list-header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}