body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#title {
  font-size: 2.5rem;
  padding-left: 15rem;
}