body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#title-banner {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

#title-logo {
  max-width: 6%;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;      
}
